
.calendar-wrapper
 {
    max-width: 2000px;
    font: 100% system-ui;
    margin: 25%;
    border: 2px solid black;
    
}
 .calendar 
 {
    display: grid;grid-template-columns: repeat(7, 1fr);
    
}
    .first-day {
        grid-column-start: 3;
    }
    .day-name {
        background: #eee;
    }
    h1 {text-align: center;
    }
    ol {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
}
li {
    padding: 3px;
}